.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
    background-color: transparent;
    transition: all 0.2s;
    &.scrolled {
        background-color: rgba(61, 73, 102, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 0 0 30px 30px;
    }
}