.coin-search {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-text {
    margin-bottom: 32px;
    text-align: center;
}

.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #3D49668A;
    color: #e2e2e2;
    outline: none;
    box-shadow: inset 0 0 5px black;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    &:hover {
        -webkit-box-shadow: 0 0 10px 3px #FFFFFF;
        box-shadow: 0 0 10px 3px #FFFFFF;
    }
    &:focus {
        -webkit-box-shadow: 0 0 10px 3px #FFFFFF;
        box-shadow: 0 0 10px 3px #FFFFFF;
    }
    &::placeholder {
        color: #e2e2e2;
    }
}
