@import "../../styles/colors";

.coin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 1000px;
  transition: all 0.2s;
  @media screen and (max-width: 999px){
    width: 700px;
    .coin-marketcap {
      display: none;
    }
  }
  @media screen and (max-width: 729px){
    width: 410px;
    .coin-marketcap {
      display: none;
    }
    .coin-percent {
      display: none;
    }
    .coin-volume {
      display: none;
    }
    .coin-data {
      align-items: center;
    }
  }
  @media screen and (max-width: 429px){
    width: 270px;
    .coin-marketcap {
      width: 0;
      display: none;
    }
    .coin-percent {
      width: 0;
      display: none;
    }
    .coin-volume {
      width: 0;
      display: none;
    }
    .coin {
      width: 0;
      min-width: 155px;
    }
    .coin-symbol {
      width: 0;
      display: none;
      max-width: 1px;
    }
    .coin-data {
      width: 0;
      align-items: center;
    }
  }
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
  h1 {
    font-size: 16px;
    width: 150px;
  }
  img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-price {
  width: 110px;
}

.coin-volume {
  width: 200px;
}

.coin-marketcap {
  width: 340px;
}

.coin-percent {
  width: 80px;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.favourite {
  color: $red !important;
}

.fav {
  margin-right: 10px;
  width: 20px !important;
  height: 20px !important;
  outline: none;
  border: none;
  transition: all 200ms;

  &:hover {
    color: $red !important;
    cursor: pointer !important;
  }

  &:active {
    border: none;
    background-color: transparent;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 50px 0 #FFFFFF;
    box-shadow: 0 0 50px 0 #FFFFFF;
  }
}
