#tradingview_78c91 {
    height: 500px;
    width: 1000px;
    transition: all 0.2s;
    @media screen and (max-width: 999px){
        width: 800px;
    }
    @media screen and (max-width: 830px){
        width: 600px;
    }
    @media screen and (max-width: 650px){
        width: 400px;
    }
    @media screen and (max-width: 429px){
        width: 350px;
    }
}

.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: all 0.2s;
    @media screen and (max-width: 429px){
        margin-top: 0;
    }
}

.heading-container {
    width: 500px;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    @media screen and (max-width: 429px){
        width: 300px;
        height: 100px;
    }
}

.heading {
    font-size: 60px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    transition: all 0.2s;
    @media screen and (max-width: 429px){
        font-size: 40px;
    }
}
