.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.error {
  font-size: 300px;
  color: rgba(142, 142, 142, 0.44);
}

.oops {
  font-size: 72px;
}