@import "styles/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins Light', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  max-width: 100%;

  background: radial-gradient(ellipse at center, #56646f, #1C262B) no-repeat fixed center top;

  &::-webkit-scrollbar-track
  {
    border-radius: 10px;
    background-color: $bg-color;
  }
  &::-webkit-scrollbar
  {
    width: 7px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.53);
    background-color: #656565;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(213, 213, 213, 0.91);
  }
}


