.navBtn {
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 30px;
    transition: all 200ms;
    background-color: #1a1a1c;
}

.navBtn:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    -webkit-box-shadow: 0 0 10px 0 #FFFFFF;
    box-shadow: 0 0 10px 0 #FFFFFF;
}

.selected button{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 70px;
    background-color: transparent;
    transition: all 0.2s;
    @media screen and (max-width: 429px){
        width: 330px;
    }
}

.navLink {
    background-color: transparent;
}